<head>
    <title>Confirm Reservation</title>
</head>
<button>
    <a href="{% url 'car_detail' car_id %} ">Back</a>
</button>
<body>
    <h3>
        Please provide details and select Reserve to book a reservation
    </h3>
    <form action="{% url 'car_confirm_reservation' car_id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Reserve">
    </form>
    {% if message1%}
        <p style="color: red;">{{ message1 }}</p>
    {% endif %}
    {% if message2%}
        <p style="color: red;">{{ message2 }}</p>
    {% endif %}
        Go to home view
        <button>
    <a href="{% url 'home_view' %} ">Home</a>
</button>
    </h4>
</body>

