<head>
    <title>Confirm Reservation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<div class="container">
<button>
    <a href="{% url 'car_detail' car_id %} ">Back</a>
</button>
<body>
    <h3>
        Please provide details and select Reserve to book a reservation
    </h3>
    <form action="{% url 'car_confirm_reservation' car_id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-success">Reserve</button>
    </form>
    {% if message1%}
        <p style="color: red;">{{ message1 }}</p>
    {% endif %}
    {% if message2%}
        <p style="color: red;">{{ message2 }}</p>
    {% endif %}
        Go to home view
    <button>
        <a href="{% url 'home_view' %} ">Home</a>
    </button>
    </h4>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

